
html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 10px;
}


/* Header */
.header {
	height: 800px;
	text-align: center;
	background-image: url('http://i.istockimg.com/file_thumbview_approve/67823119/5/stock-photo-67823119-girl-in-the-park-using-tablet.jpg');
	background-size: cover;
}

.header .container {
	text-align: center;
	position: relative;
	top: 200px;
	color: white;
}

.header h1 {
	font-size: 80px;
	line-height: 100px;
	margin-top: 0;
	margin-bottom: 80px;
}

@media (min-width:850px) {
	.header h1 {
		font-size: 120px;
	}
}

.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
}

.btn {
	width: 100px;
	height: 25px;
	margin: 0 auto;
	background-color: gainsboro;
}

.btn a{
	text-decoration: none;
	color: black;
}
.btn:hover {
	background: #117bff;
	cursor: pointer;
	transition: background .5s;
}


/* Nav */
.nav {
	background-color: black;
	padding-left: 0;
}

.nav .container {
	margin-left: 0;
	padding-left: 0;
}
.nav .list {
	margin-left: 0;
}
.nav ul {
	list-style: none;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;

}
.nav li{
	display: inline;
	color: white;
	font-size: 20px;

	padding-right: 30px;
}

/*side image*/
.side-image{

	margin-left: 50px;
	margin-top: 30px;
	width: 250px;
	float: left;
}

/* Main */
.main {

}

.main .container {

	margin: 30px 50px;
	padding-left: 350px;
}




/* Footer */
.footer {
	font-size: 14px;
}

/* Media Queries */
@media (max-width: 500px) {
	.header h1 {
		font-size: 50px;
		line-height: 64px;
	}

	.main, .jumbotron {
		padding: 0 30px;
	}

	.main img {
		width: 100%;
	}
}